body {
  font-size: 1.2em;
}

div.tabs > a, div.tabs > button {
  margin-right: 10px;
  font-size: 1.2em;
}

div.tabs {
  margin-bottom: 10px;
}

.activeTab {
  font-weight: bold;
}

li[ui-sref]:hover{
    display: inline;
    cursor: pointer;
    border: solid black 1px;
    padding-left: 5px;
    padding-right: 5px;
}
