<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>My first AngularJS App</title>
  </head>

  <body ng-app="myFirstApp">

      <h1>digest cycle</h1>

      <div ng-controller="CounterController">

          <!-- <button ng-click="showNumberOfWatchers()">
              Log # of watchers
          </button>

          <div>
              <button ng-click="countOnce()">
                  Up once counter (once)
              </button>
          </div> -->

          <div>
              <button ng-click="upCounter()">
                  Increment Counter
              </button>
          </div>

           <!-- The 1-time binding looks very similar to the 1-way binding, except in front of the property name you put double colons. What that tells Angular JS is that it should set up a watcher for this property. But the second this property gets initialized, the AngularJS digest cycle will kick in. It will update that property in our UI, will repaint the  -->

           <!-- However, for things like, let's say, fullname of a user, that is not expected to change throughout the life cycle of your application. Something that we still need to be able to somehow insert into our HTML template. But we don't need to watch that property  -->

          <div>
              <!-- Count Once: {{onceCounter}}<br /> -->
              Up Counter: {{counter}}
          </div>


      </div>

  </body>

</html>
