<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>My first AngularJS App</title>
  </head>

  <body ng-app="myFirstApp">

      <h1>custom service through factory</h1>

      <div ng-controller="ShowListController1 as list1">

          <input type="text" ng-model="list1.itemName" placeholder="Item Name"/>

          <input type="text" ng-model="list1.itemQuantity" placeholder="Item Quantity"/>

          <button ng-click="list1.addItem()">
              Add item
          </button>

          <ul>
              <li ng-repeat="item in list1.items">
                  {{item.quantity}} of {{item.name}}

                  <button ng-click="list1.removeItem($index)">
                      Remove Item
                  </button>
              </li>
          </ul>
      </div>

      <div ng-controller="ShowListController2 as list2">

          <input type="text" ng-model="list2.itemName" placeholder="Item Name"/>

          <input type="text" ng-model="list2.itemQuantity" placeholder="Item Quantity"/>

          <button ng-click="list2.addItem()">
              Add item
          </button>


          <ul>
              <li ng-repeat="item in list2.items">
                  {{item.quantity}} of {{item.name}}

                  <button ng-click="list2.removeItem($index)">
                      Remove Item
                  </button>
              </li>
          </ul>

      </div>

  </body>

</html>
